.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.back {
    background-image: linear-gradient(#151718, #554852);
}

.colorLight {
    background-color: #FBFAFA;
}

.colorLightAccent {
    background-color: #938588;
}

.colorDark {
    background-color: #3A5D56;
}

.colorDarkAccent {
    background-color: #7F7A89;
}

.colorComp {
    background-color: #9D9DA7;
}

.compColor {
    color: #3A5D56;
}

.black {
    background-color: #19180A;
}

.txtfont {
    color: #969696;
}

.mainfont {
    color: #E8E8E8;
}

.box {

}

/*transform-origin: 50% 50%;*/